@import 'https://fonts.googleapis.com/css?family=Roboto';

*{box-sizing: border-box}

.no-wrap {
	white-space: nowrap;
}

.vertical-align {
	vertical-align: middle;
}

.background-size {
	background-size: 25% 75%;
	background-size: 50% 50%;
	background-size: cover;
}

.background-position {
	background-position: 100% 0%;
}

.border-spacing {
	border-spacing: 100% 0%;
}

.depth {
	z-index: 10;
}

.z-order {
	z-index: 10;
}

.overflow-wrap {
	word-wrap: break-word;
}

.corner-radius {
	border-radius: 1em;
}

.current-color {
	color: currentColor;
}

.rgb {
	color: rgba(255, 0, 0, 1);
}

.hsl {
	color: hsla(120, 60%, 70%, 0.5);
}

.line-height {
	line-height: 2;
}

.marker-style {
	list-style: square;
}

.display-type {
	display: block;
}

:link {}

a:link {}

a:not(a:link) {}
